@charset "utf-8";

body {
	font:normal 12px Arial, sans-serif;
	line-height:1.3;
    color: white;
	background-color:#fff;
	margin:0;
	padding:0;
}
ul {list-style:none; padding: 0;}
img {border:0;}
a {text-decoration:none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    position: relative;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 120px;
    margin-bottom: 20px;
}
input {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border: 0;
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
}
input:focus{
    outline: none;
}
input::placeholder {
    color: white;
}
.form, .greetings {
    display: none;
}
.showing {
    display: block;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.js-toDoForm {
    margin-top: 20px;
}
.js-toDoList li + li {
    margin-top: 10px;
}
.js-toDoList button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.js-toDoList button:focus {
    outline: none;
}
.js-toDoList span {
    font-size: 25px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}
.js-weather {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
}